<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nombre del Estudiante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nombre del Estudiante</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Grado de Estudiante</strong>
    <p>LICEO CANADIENSE CENTRO</p>
  </div>

</ion-content>

<ion-footer>
    <ion-button routerLink='/cards' >
      Pestaña Cards
    </ion-button>
    <ion-button routerLink='/usuarios'>
      Pestaña Usuarios
    </ion-button>
</ion-footer>
